@{
    ViewData["Title"] = "Unauthorized";
}

<h1>Unauthorized</h1>
<p>User not authorized.</p>
<p>Status Code: 401</p>

<p>Please log in first here: <a href="/login">log in</a></p>

<p>Find log in details the Data/SeedData.cs file, inputthe Pinewood.Api project</p>